$color-primary: #0476D9;
$color-primary-dark: #211508;
$color-secondary: #ffffff;
$color-secondary-dark: #04BF55;
$color-tertiary: #9FDB43;
$color-tertiary-light: #C4FF6E;
$color-brown-secondary-light: #bcb09f;
$color-brown-secondary-dark: #0476D9;
$color-white: #fff;